.cover {
  display: flex;
  justify-content: center;

  .cover-image-container {
    img {
      object-fit: cover;
    }
  }
}

div.synopsis {
  max-height: 25em;
  overflow-y: scroll;
  padding-right: 1em;
  text-align: justify;
}

div.categories {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 1em;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.25em;

  img.language {
    width: 1em;
  }
}
