.container {
  height: 100%;
  min-height: 30em;
  overflow-y: hidden;

  div.filters {
    width: 75%;
    min-width: 15em;
  }

  div.results {
    height: 100%;
    overflow: scroll;
  }

  div.pagination {
    padding-bottom: 1em;
  }
}
