div.chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  .number {
    border-radius: 20px;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    * {
      font-size: 1em;
    }
  }
}
