.layout {
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.user {
      min-width: 14em;
    }

    .menu {
      width: 100%;
    }
  }

  div.content {
    height: 100%;

    overflow: auto;
    overflow-x: hidden;
    padding-right: 0.25em;
    padding-left: 0.25em;
  }
}
